<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/gradient/css/style.min.css">
</head>
<body>
    <h1>Add New Employee</h1>

    <!-- Display success or error messages -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'add_employee' %}">
        {% csrf_token %}
        <div>
            <label for="ID">ID:</label>
            <input type="text" id="ID" name="ID">
        </div>
        <div>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" value="{{ record.Name }}">
        </div>
        <div>
            <label for="Line">Line:</label>
            <input type="text" id="Line" name="Line" value="{{ record.Line }}">
        </div>
        <div>
            <label for="Shift">Shift:</label>
            <select id="Shift" name="Shift">
                <option value="{{ record.Shift }}">{{ record.Shift }}</option>
                <option value="BALI">BALI</option>
                <option value="RIT">RIT</option>
            </select>
        </div>
        <div>
            <label for="Plant">Plant:</label>
            <input type="text" id="Plant" name="Plant" value="{{ record.Plant }}">
        </div>
        <div>
            <label for="Operation">Operation:</label>
            <select id="Operation" name="Operation">
                <option value="{{ record.Operation }}">{{ record.Operation }}</option>
                    {% for option in congdoan %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
            </select>
        </div>
        <div>
            <label for="Type_training">Type of Training:</label>
            <select id="Type_training" name="Type_training">
                <option value="{{ record.Type_training }}">{{ record.Type_training }}</option>
                <option value="Đào tạo mới">Đào tạo mới</option>
                <option value="Đào tạo chéo">Đào tạo chéo</option>
            </select>
        </div>
        <div>
            <label for="Week_start">Week Start:</label>
            <input type="date" id="Week_start" name="Week_start" value="{{ record.Week_start }}">
        </div>
        <div>
            <label for="TuanraSX">TuanraSX:</label>
            <input type="date" id="TuanraSX" name="TuanraSX" value="{{ record.TuanraSX }}">
        </div>
        <div>
            <label for="Technician">Technician:</label>
            <input type="text" id="Technician" name="Technician" value="{{ record.Technician }}">
        </div>
        <div>
            <label for="StartDate">StartDate:</label>
            <input type="date" id="StartDate" name="StartDate" value="{{ record.StartDate }}">
        </div>
        <div>
            <button type="submit">Thêm nhân viên</button>
        </div>
    </form>
    <div>
        <a href="{% url 'index' %}" class="btn btn-sm btn-secondary">Trở về</a>
    </div>
</body>
</html>