<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Chỉnh sửa dữ liệu hàng ngày</title>-->
<!--    <link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/gradient/css/style.min.css">-->
<!--</head>-->
<!--<body>-->

{% extends 'index.html' %}
{% block edit_dailyreport_data %}

<hr>
<div class="col-md-3 col-md-12 col-md-3" style="padding: 30px" >
	<div class="card text-left" style="align-items: left; padding: 30px">
		<div class="card-header" style="align-items: left;">
			<h2 style="color: #005B9A; ">
			  CHỈNH SỬA DỮ LIỆU ĐÀO TẠO HÀNG NGÀY
			</h2>
		</div>


        <!-- Display success or error messages -->
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="Name">Họ tên nhân viên: </label>
                    <input type="text" class="form-control" id="Name" name="Name" value="{{ record.Name }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="Shift">Ca làm việc: </label>
                    <select id="Shift" class="form-control" value="{{ record.Shift }}">
                        <option value="{{ record.Shift }}">{{ record.Shift }}</option>
                        <option>RIT</option>
                        <option>BALI</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="Line">Nhóm chuyền: </label>
                    <input type="text" class="form-control" id="Line" name="Line" value="{{ record.Line }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="Eff">Hiệu suất: </label>
                    <input type="text" class="form-control"  id="Eff" name="Eff" value="{{ record.Eff }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="date_no_eff">Ngày không tính hiệu suất:</label>
                    <input type="text" class="form-control"  id="date_no_eff" name="date_no_eff" value="{{ record.date_no_eff }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="WorkHrs">Gi làm việc: </label>
                    <input type="text" class="form-control" id="WorkHrs" name="WorkHrs" value="{{ record.WorkHrs }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="stop_hours">Giờ ngưng việc: </label>
                    <input type="text" class="form-control" id="stop_hours" name="stop_hours" value="{{ record.stop_hours }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="downtime">Downtime: </label>
                    <input type="text" class="form-control" id="downtime" name="downtime" value="{{ record.downtime }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="chatluong">Chất lượng:</label>
                    <input type="text" class="form-control" id="chatluong" name="chatluong" value="{{ record.chatluong }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="Date">Ngày :</label>
                    <input type="date" class="form-control" id="Date" name="Date" value="{{ record.Date }}">
                </div>


                <div>
                    <label for="Weekdays">Weekdays:</label>
                    <input type="text" class="form-control" id="Weekdays" name="Weekdays" value="{{ record.Weekdays }}">
                </div>
                <div>
                    <label for="WEEK">WEEK:</label>
                    <input type="text" class="form-control" id="WEEK" name="WEEK" value="{{ record.WEEK }}">
                </div>
                <div>
                    <label for="MONTH">MONTH:</label>
                    <input type="text" class="form-control" id="MONTH" name="MONTH" value="{{ record.MONTH }}">
                </div>
                <div>
                    <label for="YEAR">YEAR:</label>
                    <input type="text" class="form-control" id="YEAR" name="YEAR" value="{{ record.YEAR }}">
                </div>
            </div>
            <div>
<!--                <button type="submit">Update</button>-->
                <button type="submit" class="btn  btn-secondary" >Cập nhật</button>
                <a href="{% url 'dailyreport' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
	</div>
</div>
{% endblock %}