{% extends 'index.html' %}

{% block employee_data %}
<!-- Tìm kiếm-->
        <form id="form_search" class="form-inline w-100">
            {% csrf_token %}
            <div class="col-md-3 mb-3">
                <label for="id">ID:</label>
                <input type="text" class="form-control w-100" id="id" name="id" placeholder="Nhập ID" value="{{ request.POST.id|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="startdate">Ngày vào:</label>
                <input type="date" class="form-control w-100" id="startdate" name="startdate" placeholder="Chọn ngày bắt đầu" value="{{ request.POST.startdate|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="line">Nhập chuyền:</label>
                <input type="text" class="form-control w-100" id="line" name="line" placeholder="Nhập chuyền" value="{{ request.POST.line|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="shift">Ca:</label>
                <input type="text" class="form-control w-100" id="shift" name="shift" placeholder="Nhập ca" value="{{ request.POST.shift|default_if_none:'' }}">
            </div>
            <div class="col-md-12 text-left">
                <button id="submit_search" type="submit" class="btn btn-primary" style="height:40px; margin-top: 20px;">Search</button>
                <button id="download" type="button" class="btn btn-outline-primary" style="height:40px; margin-top: 20px; color: white">
                    <a href="/download">Download</a>
                </button>
                <button id="upload_excel_data" type="button" class="btn btn-outline-primary" style="height:40px; margin-top: 20px;">
                    <a href="/upload">Upload excel</a>
                </button>
            </div>
        </form>

<!-- Bảng dữ liệu nhân viên start -->
<div class="tab-pane fade show active" style="padding-top: 15px">
    <div class="card table-card">
        <div class="card-header-right">
            <div class="card-header">
                <h5>Quản lý nhân viên</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="employee_data-tab" data-bs-toggle="pill" href="/" role="tab" aria-controls="pills-employee_data" aria-selected="true"><i class="feather icon-film m-r-5"></i> Dữ liệu nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="dailyreport-tab" data-bs-toggle="pill" href="/dailyreport" role="tab" aria-controls="pills-dailyreport" aria-selected="false"><i class="feather icon-file-text m-r-5"></i> Dữ liệu đào tạo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="weekreport-tab" data-bs-toggle="pill" href="/weekreport" role="tab" aria-controls="pills-weekreport" aria-selected="false"><i class="feather icon-mail m-r-5"></i> Thống kê đào tạo (tuần)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-news-tab" data-bs-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false"><i class="feather icon-monitor m-r-5"></i> Kết quả đào tạo</a>
                    </li>
                </ul>
                <div class="table-responsive" id="pills-employee" aria-labelledby="employee-tab" style="width:100%">
                    <table id="table_dsnv" class="table table-hover" >
                        <thead>
                            <tr>
                            <th><span>Mã nhân viên</span></th>
                            <th><span>Họ tên</span></th>
                            <th><span>Nhóm <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Ca <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Vị trí <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Công đoạn <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Loại đào tạo <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Tuần bắt đầu <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Tuần ra sản xuất <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Kỹ thuật <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Ngày bắt đầu</span></th>
                            <th><span>Chỉnh sửa</span></th>
                            </tr>
                        </thead>
                        <tbody id="body_table_dsnv">
                            {% for employee in training_data.itertuples %}
                            <tr>
                                <td>{{ employee.ID }}</td>
                                <td>{{ employee.Name }}</td>
                                <td>{{ employee.Line }}</td>
                                <td>{{ employee.Shift }}</td>
                                <td>{{ employee.Plant }}</td>
                                <td>{{ employee.Operation }}</td>
                                <td>{{ employee.Type_training }}</td>
                                <td>{{ employee.Week_start }}</td>
                                <td>{{ employee.Week_end }}</td>
                                <td>{{ employee.Technician }}</td>
                                <td>{{ employee.StartDate }}</td>
                                <td>
                                    <a href="{% url 'edit_employee_data' employee.ID %}" class="btn btn-sm btn-warning">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}