{% extends 'index.html' %}

{% block search %}
<!-- Search/Filter Form -->
<div class="container">
    <h3>TÌM KIẾM</h3>
    <div class="row">
        <form action="" method="POST" class="form-inline w-100">
            {% csrf_token %}
            <div class="col-md-3 mb-3">
                <label for="id">ID:</label>
                <input type="text" class="form-control w-100" id="id" name="id" placeholder="Nhập ID" value="{{ request.POST.id|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="startdate">Ngày vào:</label>
                <input type="date" class="form-control w-100" id="startdate" name="startdate" placeholder="Chọn ngày bắt đầu" value="{{ request.POST.startdate|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="line">Nhập chuyền:</label>
                <input type="text" class="form-control w-100" id="line" name="line" placeholder="Nhập chuyền" value="{{ request.POST.line|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="shift">Ca:</label>
                <input type="text" class="form-control w-100" id="shift" name="shift" placeholder="Nhập ca" value="{{ request.POST.shift|default_if_none:'' }}">
            </div>
            <div class="col-md-12 text-left">
                <button type="submit" class="btn btn-primary" style="height:40px; margin-top: 20px;">Search</button>
            </div>
        </form>
    </div>
    {% if filter_data %}
        <h3>Results:</h3>
        <table class="table table-hover" style="padding:50px">
            <thead>
                <tr>
                <th><span>Mã nhân viên</span></th>
                <th><span>Họ tên</span></th>
                <th><span>Nhóm <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Ca <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Vị trí <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Công đoạn <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Loại đào tạo <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Tuần bắt đầu <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Tuần ra sản xuất <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Kỹ thuật <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                <th><span>Ngày bắt đầu</span></th>
                </tr>
            </thead>
            <tbody>
                {% for row in filter_data %}
                    <tr>
                        {% for cell in row.values %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Không có dữ liệu cần tìm.</p>
    {% endif %}
</div>
{% endblock %}
<!-- End Search/Filter Form -->