<!DOCTYPE html>
<html>
<head>
    <title>Training Data</title>
    </head>
<body>
    <h1>Training Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Line</th>
                <th>Shift</th>
                </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>  # row[0] là giá trị cột đầu tiên
                <td>{{ row[1] }}</td>  # row[1] là giá trị cột thứ hai
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
