{% extends 'index.html' %}

{% block week_report %}
<!-- Tìm kiếm-->
        <form id="form_search_baocaotuan" class="form-inline w-100">
            {% csrf_token %}
            <div class="col-md-2 mb-3">
                <label for="id">ID:</label>
                <input type="text" class="form-control w-100" id="id" name="id" placeholder="Nhập ID" value="{{ request.POST.id|default_if_none:'' }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="Line">Line:</label>
                <input type="text" class="form-control w-100" id="Line" name="Line" placeholder="Chọn chuyền" value="{{ request.POST.Line|default_if_none:'' }}">
            </div>
            <div class="col-md-3 mb-3">
                <label for="Date">Chọn ngày:</label>
                <input type="date" class="form-control w-100" id="Date" name="Date" placeholder="Chọn ngày" value="{{ request.POST.Date|default_if_none:'' }}">
            </div>
            <div class="col-md-1 mb-3">
                <label for="Weekdays">Thứ:</label>
                <input type="text" class="form-control w-100" id="Weekdays" name="Weekdays" placeholder="Nhập thứ" value="{{ request.POST.Weekdays|default_if_none:'' }}">
            </div>
            <div class="col-md-1 mb-3">
                <label for="WEEK">Tuần:</label>
                <input type="text" class="form-control w-100" id="WEEK" name="WEEK" placeholder="Nhập tuần" value="{{ request.POST.WEEK|default_if_none:'' }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="MONTH">Tháng:</label>
                <input type="text" class="form-control w-100" id="MONTH" name="MONTH" placeholder="Nhập tháng" value="{{ request.POST.MONTH|default_if_none:'' }}">
            </div>
            <div class="col-md-1 mb-3">
                <label for="YEAR">Năm:</label>
                <input type="text" class="form-control w-100" id="YEAR" name="YEAR" placeholder="Nhập năm" value="{{ request.POST.YEAR|default_if_none:'' }}">
            </div>
            <div class="col-md-12 text-left">
                <button id="submit_search" type="submit" class="btn btn-primary" style="height:40px; margin-top: 20px;">Search</button>
                <button id="download" type="button" class="btn  btn-outline-primary" style="height:40px; margin-top: 20px; color: white">
                    <a href="/download">Download</a>
                </button>
            </div>
        </form>

<!-- Bảng dữ liệu nhân viên start -->
<div class="tab-pane fade show active" style="padding-top: 15px">
    <div class="card table-card">
        <div class="card-header-right">
            <div class="card-header">
                <h5>Thống kê đào tạo - Tuần</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="employee_data-tab" data-bs-toggle="pill" href="/" role="tab" aria-controls="pills-employee_data" aria-selected="false"><i class="feather icon-film m-r-5"></i> Dữ liệu nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="dailyreport-tab" data-bs-toggle="pill" href="/dailyreport" role="tab" aria-controls="pills-dailyreport" aria-selected="false"><i class="feather icon-file-text m-r-5"></i> Dữ liệu đào tạo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="weekreport-tab" data-bs-toggle="pill" href="/weekreport" role="tab" aria-controls="pills-weekreport" aria-selected="true"><i class="feather icon-mail m-r-5"></i> Thống kê đào tạo (tuần)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-news-tab" data-bs-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false"><i class="feather icon-monitor m-r-5"></i> Kết quả đào tạo</a>
                    </li>
                </ul>
                <div class="table-responsive" style="width:100%">
                    <table id="table_weekreport" class="table table-hover" >
                        <thead>
                            <tr>
                            <th><span>Mã nhân viên</span></th>
                            <th><span>Họ tên</span></th>
                            <th><span>Tuần</span></th>
                            <th><span>Tháng</span></th>
                            <th><span>Năm</span></th>
                            <th><span>Công đoạn</span></th>
                            <th><span>Chất lượng</span></th>
                            <th><span>Chỉ tiêu CL</span></th>
                            <th><span>Đánh giá CL</span></th>
                            <th><span>Giờ làm (tuần)</span></th>
                            <th><span>Tổng thời gian làm việc</span></th>
                            <th><span>Ngày đào tạo</span></th>
                            <th><span>Tuần LC</span></th>
                            <th><span>Hiệu suất (tuần)</span></th>
                            <th><span>Chỉ tiêu HS <a class="help" data-toggle="popover" title="(=tổng giờ làm - giờ ngưng việc - downtime)" data-content="Giờ làm thực tế trong ngày của nhân viên (=tổng giờ làm - giờ ngưng việc - downtime)"><i class="feather icon-help-circle f-16"></i></a></span></th>
                            <th><span>Đánh giá HS</span></th>
                            </tr>
                        </thead>
                        <tbody id="body_table_weekreport">
                            {% for employee in week_training_report.itertuples %}
                            <tr>
                                <td>{{ employee.ID }}</td>
                                <td>{{ employee.Name }}</td>
                                <td>{{ employee.WEEK }}</td>
                                <td>{{ employee.MONTH }}</td>
                                <td>{{ employee.YEAR }}</td>
                                <td>{{ employee.Operation }}</td>
                                <td>{{ employee.chatluong }}</td>
                                <td>{{ employee.ChitieuCL }}</td>
                                <td>{{ employee.DanhgiaCL }}</td>
                                <td>{{ employee.total_time_week }}</td>
                                <td>{{ employee.total_time }}</td>
                                <td>{{ employee.Ngaydaotao }}</td>
                                <td>{{ employee.TuanLC }}</td>
                                <td>{{ employee.Hieusuat_tuan }}</td>
                                <td>{{ employee.ChitieuHS }}</td>
                                <td>{{ employee.DanhgiaHS }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}